html{color:#000;
	background:#DEB887; 
	padding:20px 0;
	font: 12px/18px "맑은 고딕", "Malgun Gothic", "굴림", "Gulim", Verdana, Arial, Tahoma;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{font-size:100%;}

/* Basic */
h1 {font-size:14px; line-height:28px; font-weight:bold;}
h2 {font-size:12px; line-height:24px; font-weight:bold;}
a:visited, a:link {color:#c20A00;text-decoration:none;}
a:hover, a:active {color:#C23700;}

/* layout */
#wrap {width:1200px; margin:0 auto; background-color:#DEB887}

/*  -- top -- */
#log { 
	color:black; 
	padding:10px 20px;
	text-align:right; font-weight:bold;
}
#log_box{
	width:70px;
	margin:0 10px;
}
/*  -- header -- */
#header {
	width:100%; height:150px; background-color:#008B8B;
	border-bottom: 1px solid #999;
	
	/* 외곽선 둥글게 만들기, IE지원 안함 */
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border-radius: 15px 15px 0 0;
}
#head_top {height:110px;}
#head_left{
	width: 500px; float:left;display:inline; color:#FFF;
	padding:10px; height:80px;
}
p{
	text-align: center;
	font-size: 30pt;
	padding:25px 0 0 0;
}
#head_right{width:400px;float:right;text-align:right;display:inline; padding:60px 30px 0 0;}

/* -- search -- */
#search {
	background: #fff no-repeat 2px center;
	border: 1px solid #000;
	width:280px; font-size:14px; line-height:24px; height:24px;
	padding-left:22px; vertical-align: middle;
}
#search_box {height:28px; font-size:12px; 
  line-height:24px; padding:3px;vertical-align: middle;
}

/* -- content -- */
#content {background:#DEB887; overflow:auto; padding:0; height:650px;}
#main_content { width:900px; float:right; padding:10px;}
#sub_content { width:240px; float:left;padding:0;height:100%;}

/* -- footer -- */
#footer {background-color:#d5dde2; color:#888; text-align:center; padding: 20px;
}


/* -- navigation -- */
#navbar {width:1200px; height:40px;background-color:#008B8B;}
#navbar ul li {float:right;}
#navbar ul li a{
	color:black; background-color:#FF1493;
	display:block;
	width:300px;
	text-align:center;
	padding:0 10px; 
	font: bold 15px/40px Tahoma;
	text-decoration:none;
	margin-right:1px;
}
#navbar ul li a.selected {background-color:#94c713;}
#navbar ul li a:hover {background-color:#E9967A;}

/*---------------------------------*/
#sub_content div.section {
	width:240px;
	margin-top:70px;
	background: red;
	overflow:auto;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border-radius: 15px 15px 0 0;
}

#sub_content div.section h1 {
	width:190px;
	padding: 4px 6px 4px 44px;
	color:#fff;
}
#sub_content div.section2{
	width:240px;
	margin-top:70px;
	overflow:auto;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border-radius: 15px 15px 0 0;
	background: yellow;
}
#sub_content div.section2 h1 {
	width:190px;
	padding: 4px 6px 4px 44px;
	color:#fff;
}
#sub_content #spot_ranking h1 { background: blue; text-align:center;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border-radius: 15px 15px 0 0;
}
#sub_content #spot_ranking2 h1 { background: blue; text-align:center;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border-radius: 15px 15px 0 0;
}

#sub_content div.section li {
	width: 220px;
	display:block;
	float:left;
	margin:5px;
	text-align: center;
}
#sub_content div.section2 li {
	width: 220px;
	display:block;
	float:left;
	margin:5px;
	text-align: center;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
#table{
	width:850px;
	margin-top:30px;
}
table {
         width: 850px;
         border-collapse: collapse;
         text-align: center;
         font-family: 'Trebuchet MS';
       }
       th {
         font-size: 15pt;
         border: 3px solid #98bf21;
         height: 30px;
         text-align: center;
       }
       th {
         background-color: #A7C942;
         color: #ffffff;
         font-family: Georgia;
       }
       td{
       	background:#1E90FF;
       	font-size:12pt;
       	text-align: left;
       }
b{
	margin:0 20px;
}


       
  